/*  */

html,body{
    height: 100%;
}

.hide{
    display: none;
}

.wrap {
    width: 500px;
    height: 500px;
    border: 2px solid #f90;
    margin: 100px auto;
    background: url('../images/bg1.png')no-repeat;
    background-size: 100% 100%;

}

.wrap h2{
    text-align: center;
    line-height: 40px;
    color:#fff;
    font-weight: normal;
    margin-top: 20px;
}

.wrap p:nth-child(2){
    margin: 20px auto;
    height: 25px;
    text-indent: 150px;
    font-size: 18px;
    color: red;
}

[placeholder]{
    text-indent: 20px;
}

input{
    width: 200px;
    height: 40px;
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
    outline: none;
    border: 2px solid transparent;
    background: rgba(250,250,250,0.4);
}

[type="button"]{
    border: none;
    color: rgb(245, 241, 10);    
    font-size: 18px;
    background-color: rgba(5, 174, 253, 0.534);
    cursor: pointer;
}



#sign_on,
#sign_up{
    background: url('../images/bg2.png')no-repeat;
    width: 1000px;
    height:  calc(100vh);
    margin: 0 auto;
    background-size: 100%;
    overflow: hidden;
}

.jump{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.jump a{
    color: #d6da12;
    text-decoration: underline;
}

.jump a:hover{
    color: #eff30a;
}
