* {
    margin: 0;
    padding: 0;
    /* cursor: pointer; */
}

html,
body {
    height: 100%;
}

.hide {
    display: none;
}

body {
    font-size: 14px;
    color: #000000;
    min-height: 500px;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
}

.cursor {
    cursor: url(../images/arrow/jiantou3.ico), text;
}