.wrap {
    background: url(../images/game/bg6.png);
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-size: 100% 100%;
    position: relative;
    left: 0;
    right: 0;
}

.btn {
    float: right;
    margin: 20px 80px 0 0;
}

.btn ul {
    width: 244px;
    margin: 0 auto;
    display: none;
}

.btn ul li {
    position: relative;
    height: 115px;
}

.btn .back:hover img,
.btn .room:hover img,
.btn .start:hover img {
    position: absolute;
    top: 2px;
}

#room {
    display: none;
    width: 620px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 10px;
}

#room a {
    display: block;
    float: right;
    width: 38px;
    height: 38px;
    background: url(../images/return2.png)no-repeat;
    background-size: 100%;
}

#room a:hover {
    margin: 2px 0;
}

#room h1 {
    height: 50px;
    /* font-size: 22px; */
    line-height: 50px;
    text-align: center;
    color: rgba(255, 255, 255);
}

.cont li {
    float: left;
    width: 300px;
    height: 200px;
    margin: 1px;
    border: 3px solid transparent;
}

.cont li:hover {
    border: 3px solid rgb(255, 0, 0);
}

.cont li img {
    width: 100%;
    height: 100%;
}

.room_list {
    width: 570px;
    border-radius: 6px;
    padding: 20px;
    margin: 30px 0 0 20px;
    background: rgba(255, 255, 255, 0.8);
    height: 380px;
    overflow: auto;
}

.room_list li {
    color: #fff;
    font-size: 16px;
    width: 220px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    float: left;
    border-radius: 4px;
    background-color: rgb(104, 170, 224);
}

.room_list li img {
    height: 100%;
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

.rname {
    display: inline-block;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.info_wrap {
    float: right;
    margin-top: 26px;
}

.pkk {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/game/bg8.png)no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: none;
}

.pkk>button {
    font-family: serif;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background: #fdec00;
    margin: 10px 20px 0 0;
}

.user_wrap {
    width: 800px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.user_wrap button {
    font-size: 20px;
    font-weight: 600;
    background: #fdec00;
    padding: 10px 30px;
    border: 1px solid #8e8e8e;
    border-radius: 28px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.user_wrap div {
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: relative;
}

.user1 img,
.user2 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.user1 [type="1"],
.user2 [type="1"] {
    z-index: 2;
}

.user1 [type="2"],
.user2 [type="2"] {
    z-index: 3;
    top: -20px;
}

.user1 [type="3"],
.user2 [type="3"] {
    z-index: 1;
    top: 20px;
}


/* game */

.game {
    width: 1000px;
    /* height: 100vh; */
    height: 620px;
    min-height: 500px;
    margin: 0 auto;
    background: url('../images/game/gameBg.jpg')no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    display: none;
}

#cont {
    width: 720px;
    height: 532px;
    margin: 42px 0 0 22px;
    border: solid rgb(106, 100, 106);
    border-width: 7px 10px;
    background-color: rgb(158, 199, 0);
    position: relative;
}

#cont ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

#cont li {
    width: 48px;
    height: 38px;
    float: left;
}

#cont li img {
    width: 100%;
    height: 100%;
}

#cont div {
    width: 48px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

#cont div img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#cont [type="1"] {
    z-index: 2;
}

#cont [type="2"] {
    z-index: 3;
    top: -10px;
}

#cont [type="3"] {
    z-index: 1;
}

#cont .p1 {
    top: 60px;
}